<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorkFi</title>
    <link href="/css/output.css" rel="stylesheet">
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    /> -->
  </head>
  <body>
    <header>
      <div class="flex">
          <a href="/profile"> <button type="button" class="text-lg py-2 px-4 rounded-full text-white btn bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">
              My Profile
          </button></a>
          <div class="flex">
            <div>
              <a href="/logout"><button type="button" class="text-lg py-2 px-4 rounded-full text-white btn bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">
                Log out
              </button></a>
          </div>
          <div class="absolute right-0">
              <h1><a href="/profile"><button class="py-1 px-1 rounded btn"><img src="https://res.cloudinary.com/dtqsa1h9q/image/upload/v1701480055/ncok0owkbdsz0tdhquln.png" height= 75px, width= 210px, alt=""></button></a></h1>
          </div>
        </div>

      </div>
    </header>
  </body>
</html>

