<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorkFi</title>
    <link href="/css/output.css" rel="stylesheet" />
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32"
    /> -->
  </head>
  <body>
    <header class="">
      <div class="grid grid-cols-2 m-auto">
        <div class="col-start-2 mt-1.5 ml-auto mr-0">
          <a href="/login"
            ><button
              type="button"
              class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Log In
            </button></a
          >

          <a href="/signup">
            <button
              type="button"
              class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Sign Up
            </button></a
          >
        </div>

        <div
          class="w-full p-1 col-span-2 justify-center justify-self-center mx-auto text-white text-center text-lg"
        >
          <h1 class="flex items-center justify-center">
            <a href="/profile"
              ><img
                src="https://res.cloudinary.com/dtqsa1h9q/image/upload/v1701480055/ncok0owkbdsz0tdhquln.png"
                height="75px,"
                width="210px,"
                alt=""
            /></a>
          </h1>
          <span
            ><h1 class="text-sm">Find work, housing, and recreation</h1></span
          >
        </div>
      </div>
    </header>
  </body>
</html>
