<%- include('partials/header') -%>
<link href="/css/style.css" rel="stylesheet" type="text/css">

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <!-- <div class="row justify-content-around mt-5">
        <p>Which occupation are you interested in?</p>
        <input type="text" placeholder="Enter an occupation ">
        <button>Find States</button>
    </div> -->

    <!-- <div class="row justify-content-around mt-5">
        <form action="/post/createSearch" enctype="multipart/form-data" method="POST">
            <div class="mb-3 wrapper">
                <label for="search" class="form-label">Enter Occupation</label>
                <input type="text" class="form-control search-input" id="search" name="search" placeholder="Type to search...">
                <div class="autocom-box">
                    
                </div>
                <div class = "icon"><i class="fas fa-search"></i></div>
                <button type="submit" class="btn btn-primary" value="Upload">Find States</button>
            </div>
        </form>
    </div> -->

    <!-- //before 9pm update ei search route -->
    <!-- <form id="searchForm">
        <label for="searchBox">Search:</label>
        <input type="text" id="searchBox" name="searchBox" autocomplete="off">
        <div id="autocompleteResults"></div>
    </form>
    <script src="/script.js"></script> -->

    <form action="/search" method="POST">
        <label for="searchBox">Search Jobs:</label>
        <input type="text" id="searchBox" name="query" autocomplete="off">
        <button type='submit'>Search</button>
        <div id="autoCompleteResults"></div>
    </form>



</main>
    
<script src="/script.js"></script>
<%- include('partials/footer') -%>