<%- include('partials/header') -%>
<!-- <link href="/css/style.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="/css/background-color.css" rel="stylesheet"> -->
<body>
    <main class="main">
        <div class="justify-content-around mt-5">
            <!-- <a href="/login"><button type="button" class="py-2 px-4 rounded text-white text-xl btn bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">
                 Login
            </button></a>
    
            <a href="/signup"> <button type="button" class="py-2 px-4 rounded text-white text-xl btn bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">
                Signup
            </button></a> -->
        </div>
    </main>
</body>

    
<script src="/script.js"></script>
<%- include('partials/footer') -%>