<%- include('partials/headerSignedIn') -%>
<div>
  <div class="row mt-5">
      <div>
          <div>
              <p class="text-sm"><strong>User Name</strong>: <%= user.userName %></p>
              <p class="text-sm"><strong>Email</strong>: <%= user.email %></p>
              <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->


    <!-- jobs form -->
    <div class="grid grid-cols-1 grid-rows-4 text-5xl">
        <div class="grid w-11/12 justify-center row-span-1">
          <h2 class="">Search Jobs</h2>
          <form action="/search/getJobData" method="GET">
            <div class="mb-3 row-span-2 border-2 justify-center">
                <label for="search" class="form-label">Job Name</label>
                <input type="text" class="form-control" id="searchBox" name="search" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            <div id="autoCompleteResults"></div>
          </form>

          <div class="col-8">
            <!-- FIXME: Add Recent Searches -->
            <!-- <h4>We apologize for the inconvenience. Rental pricing is only available for first three states while search is optimized.</h4> -->
            <ul class="row list-unstyled">
            <div class="row justify-content-center mt-5">
              <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
            </div>  
          </div> 
          
        </div>
     </div>

  </div>

</div>

<script src="/script.js"></script>
<%- include('partials/footer') -%>
